import firebase from 'firebase/app'
import 'firebase/auth'

if (!firebase.apps.length) {
    firebase.initializeApp(
        {
        }
    );
    firebase.auth().setPersistence(firebase.auth.Auth.Persistence.SESSION);
}

export default firebase